h3{
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ff4484;
}


@media only screen and (max-width: 600px) {
    .Header{
       margin-bottom: -20% !important;
    }
  }